{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container-fluid bg-1 text-center">


    <div class="row">
    <div class="col-md-4">

    </div>
     <div class="col-md-4">
         {% if uploaded_file_url %}
             <img src="{{ uploaded_file_url}}" class="img-responsive margin" style="display:inline">
         {% endif %}

    </div>
     <div class="col-md-4">

    </div>

</div>
        <form class="form-horizontal" method="post" action={% url 'success' %}>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-6">
        {{ data.Name }}
    </div>
      <label class="radio-inline"><input type="radio" name="optradio1">Correct</label>
      <label class="radio-inline"><input type="radio" name="optradio1">Wrong</label>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="fname">Fathers Name:</label>
    <div class="col-sm-6">
      {{ data.Father_Name }}
    </div>
      <label class="radio-inline"><input type="radio" name="optradio2">Correct</label>
      <label class="radio-inline"><input type="radio" name="optradio2">Wrong</label>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dob">DOB:</label>
    <div class="col-sm-6">
      {{ data.Date_of_Birth }}
    </div>
      <label class="radio-inline"><input type="radio" name="optradio3">Correct</label>
      <label class="radio-inline"><input type="radio" name="optradio3">Wrong</label>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="pan">PAN:</label>
    <div class="col-sm-6">
      {{ data.PAN }}
    </div>


      <label class="radio-inline"><input type="radio" name="optradio4">Correct</label>
      <label class="radio-inline"><input type="radio" name="optradio4">Wrong</label>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>
  </div>
    </form>
</div>











{#  <p><a href="{% url 'home' %}">Return to home</a></p>#}
{% endblock %}
